.another-articles {
    
    &__title {
        font-weight: 600;
        color: @color-gray;
        padding-bottom: 15px;
        font-size: 20px;
    }
    &__list {
        padding-bottom: 7px;
    }
}