.article {

    &__title {
        padding-bottom: 8px;
    }

    &__date {
        font-size  : 16px;
        font-weight: 500;
        color      : @color-green;
    }

    &__preview {
        margin-top: 13px;
    }
    &__preview-img {
        border-radius: 5px;
    }
    &__content {
        padding-top: 36px;
        
        p {
            padding-bottom: 25px;
        }
    }
}