.join-block {
    padding-top: 10px;
    
    &__col-info {
        width: 65%;
    }
    &__col-aside {
        width: 35%;
    }

    &__content {
        padding-top: 10px;
        line-height: 1.2;
    }
}