.join-block {
    padding-top: 10px;
   
    &__col-info {
        width: 65%;
    }
    &__col-aside {
        width: 35%;
    }

    &__content {
        padding-top: 10px;
        line-height: 1.2;
    }

    &__with-us {
        background: #f9f9f9;
        border-radius: 5px;
        padding: 25px 20px 23px 30px;
    }
    &__with-us-title {
        padding-bottom: 19px;
    }
    &__member-text {
        margin-top: -5px;
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 30px;

        p {
            padding-bottom: 15px;
        }
    }
}