.main-join {
    padding-bottom: 70px;
    margin-top: -5px;

    @media screen and (max-width: 670px)  {
        padding-bottom: 50px;
    }

    &__container {
        padding-top: 15px;

        p {
            padding-bottom: 20px;
            line-height: 1.2;

            @media screen and (max-width: 670px)  {
                padding-bottom: 15px;
            }
        }
    }
    &__btns-block {
        text-align: center;
        padding-top: 7px;
    }    
}