.memorandum {

    &__content {
        padding-top: 23px;
        font-size  : 16px;
        line-height: 1.2;

        @media screen and (max-width: 670px) {
            font-size: 14px;
            padding-top: 15px;
        }

        p,
        ul,
        ol {
            padding-bottom: 20px;

            @media screen and (max-width: 670px) {
                padding-bottom: 15px;
            }
        }

        ul {
            padding-left: 20px;
        }

        h3 {
            padding-bottom: 20px;
            padding-top   : 5px;

            @media screen and (max-width: 670px) {
                padding-bottom: 15px;
            }
        }

        h2 {
            padding-top   : 20px;
            padding-bottom: 20px;

            @media screen and (max-width: 670px) {
                padding-bottom: 15px;
            }
        }

        ol {
            list-style-position: inside;
        }

        ol li {
            padding-bottom: 15px;
        }
    }
}